<div class="container">
  <div class="page-header">
    <h1>About</h1>
  </div>
  <p>
    Welcome to Just Blog, your number one source for posts. We're dedicated to giving you a focus on minimalism.
   </p>
</div>