<div class="container">
  <div class="page-header">
    <h1>Help</h1>
  </div>
  <p>
    To start using the service:<br>
    <br>1. Sign up / sign in your account
    <br>2. Press 'Add' button on navbar menu
    <br>3. Create your post (write title and content)
    <br>4. Check your all posts (press 'Show' button)
    <br>5. Enjoy!
  </p>
</div>