<title><%= provide(:title, "Home") %></title>

  <div class="center jumbotron">
    <div class="p-3 mb-2 bg-secondary text-white">
      <h1>Welcome to the Just Blog</h1>
      <h2>
        Take notes and write ideas without being distracted by unnecessary things
      </h2>
      <%= link_to "Sign up for free", new_user_registration_path, class: "btn btn-lg btn-green" %>
    </div>
  </div>

