<title><%= provide(:title, "Home") %></title>

<%# if current_user.nil? %>
<!--  <%#= link_to new_user_session_path, class: 'login-button' do %>Sign in<%# end %>-->
<%# else %>
<!--  <%#= link_to posts_path, class: 'login-button' do %>Go to App<%# end %>-->
<!--  <%#= link_to destroy_user_session_path, method: :delete do %>Log out<%# end %>-->
<%# end %>

<div class="center jumbotron">
  <h1>Welcome to the Just Blog</h1>
  <h2>
    Take notes, write impressions and ideas without being distracted by unnecessary functions
  </h2>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>