<h1>Add new post</h1>

<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :content, input_html: {rows: 7} %>
  <%= f.button :submit, "Create my post", class: "btn btn-primary" %>
<% end %>