<footer class="footer">
  <small>
    by <a href="https://github.com/mrabets">Mrabets</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Log in", '#'  %></li>
    </ul>
  </nav>
</footer>